.headCreate {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.head {
    list-style: none;
}
.head li {
    display: inline-block;
    padding: 0px 1px;
}

.volver{
    width: 100%;
    padding: 14px 25px;
    border-radius: 5px;
    transition-duration: 0.4s;
    float:left;
    color: black;
    text-decoration: none;
    max-width: 250px;
}

.textovolver {
    width: 100%;
    color: black;
    text-decoration: none;
}

.tituloCrear {
    width: 100%;
    text-align: center;
}

.titulo {
    width: 100%;
    max-width: 200px;
}

.volver:hover {
    box-shadow: 0 17px 40px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}

.create:hover {
    box-shadow: 0 17px 40px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}

.cont {
    width: 90%;
    display: flex;
    background-color: white;
    margin: auto;
    max-width: 1100px;
    padding: 4.5em 3em;
    border-radius: 10px;
    border-color: black;
    border: solid;
    border-width: 2px;
}

.gif {
    width: 100%;
    max-width: 550px;
}

.a {
    margin: 40px;
    display: grid;
    gap: 1.0em;;
}

.form {
    position: relative;
    border-radius: 5px;
    width: 100%;
    border-width: 2px;
}

.errores {
    width: 100%;
    background: none;
    border-radius: 5px;
}

.create {
    border-radius: 5px;
    padding: 10px 15px;
    color: black;
}

.create:hover {
    box-shadow: 0 17px 40px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}

.divX {
    width: 100%;
    max-width: 100px;
}

.botonX {
    border-radius: 5px;
}

.botonX:hover {
    box-shadow: 0 17px 40px 0 rgba(0,0,0,0.24), 0 17px 40px 0 rgba(0,0,0,0.19);
}